<h1>Inventory</h1>

<div class="inventory-pane">
    <div class="row inventory-item inventory-item">
        <div class="small-2 medium-2 large-2 columns">
            <strong>UPC</strong>
        </div>
        
        <div class="small-7 medium-7 large-7 columns">
            <strong>Food Item</strong>
        </div>

        <div class="small-3 medium-3 large-3 columns">
            <div class="text-right">
                <strong>Quantity</strong>
            </div>
        </div>
    </div>
    <% @foods.each do |f| %>
    <div class="row inventory-item inventory-item">
        <div class="small-2 medium-2 large-2 columns">
            <span class="<%='all-out' if f.quantity == 0 %>">
                <%= f.upc %>
            </span>
        </div>

        <div class="small-7 medium-7 large-7 columns">
            <span class="<%='all-out' if f.quantity == 0 %>">
                <%= f.display_name %>
            </span>
        </div>

        <div class="small-3 medium-3 large-3 columns">
            <div class="text-right <%='all-out' if f.quantity == 0 %>">
                <%= f.quantity %>
            </div>
        </div>
    </div>
    <% end %>
</div>
