<h2><%= @food.display_name %> </h2>
<hr>

<div class="row">
	<div class="small-offset-3 small-offset-3 large-offset-3 small-6 medium-6 large-6 columns">
	<div id="graph-container" style="width:400px; height:400px">		
	</div>
	</div>
</div>

<div>
    <ul>
        <li> <strong>UPC:</strong> <%= @food.upc%></li>
        <li> <strong>Quantity remaining:</strong> <%= @food.quantity%></li>
        <li> <strong>Nutrients:</strong>
            <ul>
                <div class="row">
                    <div class="small-9 medium-9 large-9 columns">
                        <strong>Name: </strong>
                    </div>
                    <div class="small-3 medium-3 large-3 columns">
                        <strong>Amount: </strong>
                    </div>
                </div>
                <% @food.nutrients?.each do |n| %>
                <div class="row">
                    <div class="small-9 medium-9 large-9 columns">
                        <%= n[0] %>
                    </div>
                    <div class="small-3 medium-3 large-3 columns">
                        <%= "#{n[1]["amount"]} #{n[1]["units"]}"%>
                    </div>
                </div>
                <% end %>
            </ul>
        </li>
    </ul>
</div>

<script>
(function basic_radar(container) {

  // Fill series s1 and s2.
  var data = [];
  var ticks = [];
  var care_about = ["water", "energy", "sodium", "total_sugar", "carbohydrates"    ];
  
  var i = 0;
  Object.keys(gon.nutrients).forEach( function (k) {
	  if (_.contains(care_about,k) ) {
	  var nut = gon.nutrients[k];
	  data.push( [i, nut.amount]);
	  ticks.push( [i, k] );
	  i++;
  }
  });
    //s1 = { label : 'Actual', data : [[0, 3], [1, 8], [2, 5], [3, 5], [4, 3], [5, 9]] },
    console.log(data);
    s1 = { data : data },
    
  // Draw the graph.
  graph = Flotr.draw(container, [ s1], {
    radar : { show : true}, 
    grid  : { circular : true, minorHorizontalLines : true}, 
    yaxis : { min : 0, max : 800, minorTickFreq : 2}, 
    xaxis : { ticks : ticks}
  });
})(document.getElementById("graph-container"));
</script>

